<!-- CLEANED -->

<!-- This page contains the information about the group that made the application-->
<% include header %>
<title>Contact Us</title>

<body>
    <% include navbar %>
    <br>
    <br>
    <br>
    <div class="panel panel-primary">
       <div class="panel-heading">
            <h2  style="text-align:center">
                What is <b> <p>Sports Finder? </b></p>
            </h2>
            <p style="text-align:center"> SportsFinder makes it easy for anyone to find a local sporting facilities or find one of the many events already going on in the area.</p>
            <p style="text-align:center">  Sports Finder provides you with a platform to find other people to play your favourite sports with.</p>
            <br>
            <p style="text-align:center"><b>Designed by: </b> 
            <p style="text-align:center"> Ibrahim Olanigan </p>
            <p style="text-align:center"> Veronica Morales </p>
            <p style="text-align:center"> Manuel Delgado </p>
            <p style="text-align:center"> Mansoureh Rousta </p>
    </div>
    </div>
</body>
</html>