<!-- CLEANED AND COMMENTED-->

<!-- This file contains the head section of all the HTML files -->

<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <title>Sports Finder</title>
  
    <link type="text/css" rel="stylesheet" href="https://sports-olanigan.c9.io/css/style.css">
    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
  
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://personal.lut.fi/users/Manuel.Delgado.Sanchez/SEM/FunTV/design/js/bootstrap.js"></script>
    <style type="text/css" media="screen"></style>
   
   <!-- Include the view of the map with the facilities -->
    <% include mapView%>
      
    <script>
  	  function typeClick(type){
        //var data = $.getJSON("/facility/type/:"+type);
  	    var data = $.getJSON("/facility/type/"+type, function(json){
          initialize();
      	  console.log('get JSON success for type %s',type);
    	    if(json && (json.length > 0)){
	          map.setZoom(10);
	 	        $.each(json, function() {
	 	        console.log('Type from JSON is ' + this.Type);
	 	        marker_maker(this.Name, this.YWGS84, this.XWGS84); 
  	 	      //   if(type == this.Type){
  	 	      //   console.log(this);
  	 	      // 	  marker_maker(this.Name, this.YWGS84, this.XWGS84); 
  	 	      // }
	 	        });
	        }
        });
 	    }
   	
      $(function() {
        // var typeData = ["Unsupervised beach","Ski jumping hill for training","Volleyball court","Winter swimming area","Ball field","Ski competition centre","Floorball hall","Badminton hall","Squash hall","Tennis hall","Fitness centre","Rink","Golf course","Golf training area","Bowling alley","Competition ice arena","Spa","Archery range","Ski slopes and downhill ski resorts","Sport aviation area","Sports hall","Gym","Open-air shooting range","Neighbourhood sports area","Gymnastics hall","Martial arts hall","Athletics field","Skateboarding/roller-blading rink","Tennis court area","Ice-skating field","Artistic gymnastics facility","Kart circuit","Basketball court","Training ice arena","Mechanically frozen open-air ice rink","Athletics training area","Public indoor swimming pool","Beach volleyball court","Shooting sports centre","Formula race track","Disc golf course","Cross-country ski park","Parkour area","Supervised beach","Swimming pool","Riding manege","Equestrian field","Horse racing track","Sailing area","Stand-alone athletics venue","Weight training hall","Indoor shooting range","Indoor training facility for rowing and canoeing"];
        $("#type").change(function() {
          // alert('Handler for .change() called.');
          // console.log('Change is real');
          var str = "";
          $( "select option:selected" ).each(function() {
            str += $( this ).text() + " ";
            console.log('Change is ' + str);
            typeClick(str);
          });
        });
        //   $( '#types' ).autocomplete({
        //     source: typeData
        //   });
      });
    </script>
    

     