<!-- This is the Select menu that appears on the left side of the main website -->
<!-- Consider change the name because rousta is everywhere -->

<select name="place" id="type" class="type">
           <<option value="">--Select from options below--</option>>
            <<option value="Artistic gymnastics facility">Artistic gymnastics facility</option>>
             <<option value="Athletics field">Athletics field</option>>
              <<option value="Athletics training area">Athletics training area</option>>
               <<option value="Badminton hall">Badminton hall</option>>
                <<option value="Ball field">Ball field</option>>
                 <<option value="Basketball court">Basketball court</option>>
                  <<option value="Beach volleyball court">Beach volleyball court</option>>
                   <<option value="Bowling alley">Bowling alley</option>>
                    <<option value="Competition ice arena">Competition ice arena</option>>
                     <<option value="Cross-country ski park">Cross-country ski park</option>>
                      <<option value="Disc golf course">Disc golf course</option>>
                       <<option value="Equestrian field">Equestrian field</option>>
                        <<option value="Fitness centre">Fitness centre</option>>
                         <<option value="Floorball hall">Floorball hall</option>>
                          <<option value="Formula race track">Formula race track</option>>
                           <<option value="Golf course">Golf course</option>>
         <<option value="Golf training area">Golf training arear</option>>
          <<option value="Gym">Gym</option>>
           <<option value=" Gymnastics hall"> Gymnastics hall</option>>
            <<option value="Horse racing track">Horse racing track</option>>
             <<option value="Ice-skating field">Ice-skating field</option>>
              <<option value="Indoor shooting range">Indoor shooting range</option>>
               <<option value="Indoor training facility">Indoor training facility</option>>
                <<option value="Kart circuit">Kart circuit</option>>
                 <<option value="Martial arts hall">Martial arts hall</option>>
                  <<option value="Mechanically frozen open-air">Mechanically frozen open-air</option>>
                   <<option value="Neighbourhood sports area">Neighbourhood sports area</option>>
                    <<option value="Open-air shooting range">Open-air shooting range</option>>
                     <<option value="Parkour area">Parkour area</option>>
                      <<option value="Public indoor swimming pool">Public indoor swimming pool</option>>
                       <<option value="Riding">Riding</option>>
         <<option value="Rink">Rink</option>>
          <<option value="Sailing area">Sailing area</option>>
           <<option value="Shooting sports centre">Shooting sports centre</option>>
            <<option value="Skating">Skating</option>>
             <<option value="Ski competition centre">Ski competition centre</option>>
              <<option value="Ski jumping hill for training">Ski jumping hill for training</option>>
               <<option value="Ski slopes and downhill ski resorts">Ski slopes and downhill ski resorts</option>>
                <<option value="Spa">Spa</option>>
                 <<option value="Sport aviation area">Sport aviation area</option>>
                  <<option value="Sports hall">Sports hall</option>>
                   <<option value="Stand-alone athletics venue">Stand-alone athletics venue</option>>
                    <<option value="Supervised beach">Supervised beach</option>>
                     <<option value="Swimming pool">Swimming pool</option>>
                      <<option value="Tennis court area">Tennis court area</option>>
                       <<option value="Tennis hall">Tennis hall</option>>
                        <<option value="Training ice arena">Training ice arena</option>>
                         <<option value="Unsupervised beach">Unsupervised beach</option>>
                          <<option value="Volleyball court">Volleyball court</option>>
                            <<option value="Weight training hall">Weight training hall</option>>
                             <<option value="Winter swimming area">Winter swimming area</option>>
</select>