<!-- Facilities order by type -->
<!-- It seems that this file can be removed -->
<ul>
    <h1>Facilities ordered by type</h1>
    <% types.forEach(function(type){ %>
        <li>
            <p><%=type.Type%></p>
        </li>
        
    <% }); %>
</ul>